In [33]:
import pandas as pd
import numpy as np
import hashlib
import matplotlib.pyplot as plt

## Creating/Reading total dataframe

In [34]:
# OLD
# uncomment to create total_barnet file

# read data
# df1 = pd.read_csv('data/barnet_Dec2010-Apr2017.csv')
# df2 = pd.read_csv('data/barnet_May2017-Apr2020.csv')
# df3 = pd.read_csv('data/barnet_Apr2020-Mar2023.csv')
#
# # concatenate the dataframes
# total_barnet = pd.concat([df1, df2, df3])
# total_barnet = total_barnet.drop('Unnamed: 0', axis=1)
#
# # save total_barnet data
# total_barnet.to_csv('data/total_barnet.csv', index=False)

In [35]:
# Uncomment if using .parquet file
total_barnet = pd.read_parquet('data/clean_df.parquet', engine='pyarrow')

# Uncomment if using saved csv file
# total_barnet = pd.read_csv('data/total_barnet.csv')

In [36]:
# Remove unnecessary columns
total_barnet = total_barnet.drop(['Reported by', 'Falls within', 'Crime type', 'Context'], axis=1).reset_index(drop=True)

# Change column names to lowercase and replace spaces with underscores
total_barnet.columns = total_barnet.columns.str.lower().str.replace(' ', '_')
total_barnet

,crime_id,month,longitude,latitude,location,lsoa_code,lsoa_name,last_outcome_category
0,None,2010-12,-0.201877,51.655538,On or near High Street,E01000248,Barnet 001A,None
1,None,2010-12,-0.207853,51.654317,On or near The Avenue,E01000248,Barnet 001A,None
2,None,2010-12,-0.202510,51.656348,On or near Bruce Road,E01000248,Barnet 001A,None
3,None,2010-12,-0.206779,51.654768,On or near The Drive,E01000248,Barnet 001A,None
4,None,2010-12,-0.209537,51.655223,On or near Marriott Road,E01000249,Barnet 001B,None
...,...,...,...,...,...,...,...,...
44133,fda0870be993d2c9352ae14a540bf529c15a7aa9d92a4e...,2023-03,-0.202163,51.559100,On or near Hocroft Road,E01000139,Barnet 041B,Under investigation
44134,c6c2d9a772695865f4ca33fce59c26c48fe3a1cdac8c22...,2023-03,-0.202163,51.559100,On or near Hocroft Road,E01000139,Barnet 041B,Under investigation
44135,e5bab2bd4f31de44515dbf125b85284392d0349139a1d3...,2023-03,-0.197843,51.561093,On or near Church Walk,E01000140,Barnet 041C,Under investigation
44136,823465427f8764e250a48312715a4bd87e8012412046c6...,2023-03,-0.199449,51.563896,On or near Llanelly Road,E01000140,Barnet 041C,Under investigation
44137,50b5bbf4987109ee189f8a736ec7e92365b25169b7f783...,2023-03,-0.197843,51.561093,On or near Church Walk,E01000140,Barnet 041C,Under investigation

## Exploration

In [37]:
# count NaN values per column
nan_counts = total_barnet.isna().sum()

# calculate the percentage of NaN values per column
nan_percentages = nan_counts / len(total_barnet) * 100

# print the results
print("NaN counts per column:")
print(nan_counts)
print("\nNaN percentages per column:")
print(nan_percentages)

NaN counts per column:
crime_id                 4792
month                       0
longitude                   0
latitude                    0
location                    0
lsoa_code                   0
lsoa_name                   0
last_outcome_category    5231
dtype: int64

NaN percentages per column:
crime_id                 10.856858
month                     0.000000
longitude                 0.000000
latitude                  0.000000
location                  0.000000
lsoa_code                 0.000000
lsoa_name                 0.000000
last_outcome_category    11.851466
dtype: float64

In [38]:
# generate SHA-256 hash values for NaN values
hash_values = []
for i in range(total_barnet['crime_id'].isna().sum()):
    hash_object = hashlib.sha256()
    hash_object.update(str(i).encode('utf-8'))
    hash_values.append(hash_object.hexdigest())

# fill NaN values with hash values
total_barnet.loc[total_barnet['crime_id'].isna(), 'crime_id'] = hash_values
total_barnet

,crime_id,month,longitude,latitude,location,lsoa_code,lsoa_name,last_outcome_category
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,2010-12,-0.201877,51.655538,On or near High Street,E01000248,Barnet 001A,None
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,2010-12,-0.207853,51.654317,On or near The Avenue,E01000248,Barnet 001A,None
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,2010-12,-0.202510,51.656348,On or near Bruce Road,E01000248,Barnet 001A,None
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,2010-12,-0.206779,51.654768,On or near The Drive,E01000248,Barnet 001A,None
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,2010-12,-0.209537,51.655223,On or near Marriott Road,E01000249,Barnet 001B,None
...,...,...,...,...,...,...,...,...
44133,fda0870be993d2c9352ae14a540bf529c15a7aa9d92a4e...,2023-03,-0.202163,51.559100,On or near Hocroft Road,E01000139,Barnet 041B,Under investigation
44134,c6c2d9a772695865f4ca33fce59c26c48fe3a1cdac8c22...,2023-03,-0.202163,51.559100,On or near Hocroft Road,E01000139,Barnet 041B,Under investigation
44135,e5bab2bd4f31de44515dbf125b85284392d0349139a1d3...,2023-03,-0.197843,51.561093,On or near Church Walk,E01000140,Barnet 041C,Under investigation
44136,823465427f8764e250a48312715a4bd87e8012412046c6...,2023-03,-0.199449,51.563896,On or near Llanelly Road,E01000140,Barnet 041C,Under investigation
44137,50b5bbf4987109ee189f8a736ec7e92365b25169b7f783...,2023-03,-0.197843,51.561093,On or near Church Walk,E01000140,Barnet 041C,Under investigation

In [39]:
# count NaN values per column
nan_counts = total_barnet.isna().sum()

# calculate the percentage of NaN values per column
nan_percentages = nan_counts / len(total_barnet) * 100

# print the results
print("NaN counts per column:")
print(nan_counts)
print("\nNaN percentages per column:")
print(nan_percentages)

NaN counts per column:
crime_id                    0
month                       0
longitude                   0
latitude                    0
location                    0
lsoa_code                   0
lsoa_name                   0
last_outcome_category    5231
dtype: int64

NaN percentages per column:
crime_id                  0.000000
month                     0.000000
longitude                 0.000000
latitude                  0.000000
location                  0.000000
lsoa_code                 0.000000
lsoa_name                 0.000000
last_outcome_category    11.851466
dtype: float64

In [40]:
duplicate_ids = total_barnet[total_barnet.duplicated(['crime_id'], keep=False)]
df_duplicates = pd.DataFrame(duplicate_ids)

df_duplicates

,crime_id,month,longitude,latitude,location,lsoa_code,lsoa_name,last_outcome_category
4870,327fcd67d18e70a09947928217f9c47196b7bff8dea34b...,2011-12,-0.176357,51.635092,On or near High Road,E01000271,Barnet 008A,None
4872,327fcd67d18e70a09947928217f9c47196b7bff8dea34b...,2011-12,-0.176357,51.635092,On or near High Road,E01000271,Barnet 008A,None
5173,17ff508fad28a4c5295e1b42e331cefc9b0de4f55d79c9...,2011-12,-0.209199,51.570601,On or near Pedestrian Subway,E01000145,Barnet 037A,None
5174,17ff508fad28a4c5295e1b42e331cefc9b0de4f55d79c9...,2011-12,-0.209199,51.570601,On or near Pedestrian Subway,E01000145,Barnet 037A,None
5175,17ff508fad28a4c5295e1b42e331cefc9b0de4f55d79c9...,2011-12,-0.209199,51.570601,On or near Pedestrian Subway,E01000145,Barnet 037A,None
...,...,...,...,...,...,...,...,...
44059,c8f5651098479309e305a8dfd1fee6fc9e7cc278a0d014...,2023-03,-0.245925,51.597926,On or near Cherry Close,E01000155,Barnet 030D,Under investigation
44060,c8f5651098479309e305a8dfd1fee6fc9e7cc278a0d014...,2023-03,-0.245925,51.597926,On or near Cherry Close,E01000155,Barnet 030D,Under investigation
44061,c8f5651098479309e305a8dfd1fee6fc9e7cc278a0d014...,2023-03,-0.245925,51.597926,On or near Cherry Close,E01000155,Barnet 030D,Under investigation
44105,614ef238ce2fa13eb05ab42e18da2ce827ec7c2cbec65c...,2023-03,-0.211449,51.576867,On or near Highfield Avenue,E01000219,Barnet 037D,Under investigation
44106,614ef238ce2fa13eb05ab42e18da2ce827ec7c2cbec65c...,2023-03,-0.211449,51.576867,On or near Highfield Avenue,E01000219,Barnet 037D,Under investigation

## Extra Data (Deprivation metric)

#### Loading data
#### Dropping rows that don't have 'Score' in column 'Measurement'
#### Dropping column 'Units' because they're always empty + 'Measurement' + 'DateCode'

In [41]:
imd2019 = pd.read_csv('data/imd2019lsoa.csv')
imd2019 = imd2019[imd2019['Measurement'].str.contains('Rank')]
imd2019 = imd2019.drop(['Units', 'Measurement', 'DateCode'], axis=1).reset_index(drop=True)

imd2019

       FeatureCode    Value                      Indices of Deprivation
0        E01005278  11281.0                b. Income Deprivation Domain
1        E01005236   4565.0                b. Income Deprivation Domain
2        E01031873  25826.0                b. Income Deprivation Domain
3        E01031455  10380.0                b. Income Deprivation Domain
4        E01031971  20299.0                b. Income Deprivation Domain
...            ...      ...                                         ...
328435   E01024569  19162.0  g. Barriers to Housing and Services Domain
328436   E01025086  25378.0  g. Barriers to Housing and Services Domain
328437   E01024778  18324.0  g. Barriers to Housing and Services Domain
328438   E01024832  23566.0  g. Barriers to Housing and Services Domain
328439   E01024845  25382.0  g. Barriers to Housing and Services Domain

[328440 rows x 3 columns]

In [42]:
imd2010 = pd.read_csv('data/imds2010lsoa.csv')
imd2010 = imd2010.drop(['Units', 'Measurement', 'DateCode'], axis=1)

imd2010

      FeatureCode  Value
0       E01022106  29375
1       E01017546  26213
2       E01014665   9151
3       E01004013   8277
4       E01016063   1410
...           ...    ...
32477   E01019040  13381
32478   E01029479  24589
32479   E01023802  29879
32480   E01021496  11519
32481   E01004886   7748

[32482 rows x 2 columns]

In [43]:
imd2015 = pd.read_csv('data/imd2015lsoa.csv')
imd2015 = imd2015[imd2015['Measurement'].str.contains('Rank')]
imd2015 = imd2015.drop(['Units', 'Measurement', 'DateCode'], axis=1).reset_index(drop=True)

imd2015

       FeatureCode    Value                             Indices of Deprivation
0        E01019971  16495.0  j. Income Deprivation Affecting Older People I...
1        E01019963  21937.0  j. Income Deprivation Affecting Older People I...
2        E01019980   8110.0  j. Income Deprivation Affecting Older People I...
3        E01019950  14057.0  j. Income Deprivation Affecting Older People I...
4        E01019952  23655.0  j. Income Deprivation Affecting Older People I...
...            ...      ...                                                ...
328435   E01021096  19266.0                       b. Income Deprivation Domain
328436   E01021089  12610.0                       b. Income Deprivation Domain
328437   E01021103  10211.0                       b. Income Deprivation Domain
328438   E01021082  26009.0                       b. Income Deprivation Domain
328439   E01021087  21242.0                       b. Income Deprivation Domain

[328440 rows x 3 columns]

### Keeping only entries where LSOA code matches
#### Creating list of codes from barnet lsoa_code and delete all rows where code doesnt match

In [44]:
lsoa_list = total_barnet['lsoa_code'].unique()

# delete all rows in imd2010 that contain any value in the lsoa_list
imd2010_barnet = imd2010[imd2010['FeatureCode'].isin(lsoa_list)].reset_index(drop=True)
imd2015_barnet = imd2015[imd2015['FeatureCode'].isin(lsoa_list)].reset_index(drop=True)
imd2019_barnet = imd2019[imd2019['FeatureCode'].isin(lsoa_list)].reset_index(drop=True)

In [45]:
imd2019_barnet

     FeatureCode    Value                      Indices of Deprivation
0      E01000227  19223.0                b. Income Deprivation Domain
1      E01000267  18565.0                b. Income Deprivation Domain
2      E01000163   7026.0            c. Employment Deprivation Domain
3      E01000310  20489.0            c. Employment Deprivation Domain
4      E01000157  23337.0            c. Employment Deprivation Domain
...          ...      ...                                         ...
2105   E01000141    998.0                             f. Crime Domain
2106   E01000153   4658.0                             f. Crime Domain
2107   E01000154   5150.0                             f. Crime Domain
2108   E01000139   7591.0                             f. Crime Domain
2109   E01000124   6538.0  g. Barriers to Housing and Services Domain

[2110 rows x 3 columns]

In [46]:
imd2015_barnet

     FeatureCode    Value                             Indices of Deprivation
0      E01000307   7674.0  j. Income Deprivation Affecting Older People I...
1      E01000309  13592.0  j. Income Deprivation Affecting Older People I...
2      E01000308   2482.0  j. Income Deprivation Affecting Older People I...
3      E01000207  28405.0  j. Income Deprivation Affecting Older People I...
4      E01000213  28847.0  j. Income Deprivation Affecting Older People I...
...          ...      ...                                                ...
2105   E01000307   2674.0                                    f. Crime Domain
2106   E01000309  11761.0                                    f. Crime Domain
2107   E01000273   9492.0                                    f. Crime Domain
2108   E01000274  12346.0                                    f. Crime Domain
2109   E01033573  14939.0                       b. Income Deprivation Domain

[2110 rows x 3 columns]

In [47]:
imd2010_barnet

    FeatureCode  Value
0     E01000290  15112
1     E01000165  22327
2     E01000253  23868
3     E01000128  12081
4     E01000216  22250
..          ...    ...
204   E01000183  21060
205   E01000271  26782
206   E01000146  18802
207   E01000234  25034
208   E01000322  17051

[209 rows x 2 columns]

### Adding Ward code and name where LSOA code matches

In [48]:
lsoa_ward = pd.read_csv('data/lsoa_ward.csv')
lsoa_ward = lsoa_ward.drop(['ObjectId', 'WD22NMW', 'LTLA22CD', 'LTLA22NM', 'LTLA22NMW'], axis=1)

lsoa_ward

      LSOA21CD     LSOA21NM     WD22CD           WD22NM
0    E01000314  Barnet 032F  E05013649      West Hendon
1    E01000315  Barnet 022F  E05013651        Woodhouse
2    E01000316  Barnet 027E  E05013648    West Finchley
3    E01000317  Barnet 019D  E05013648    West Finchley
4    E01000318  Barnet 019E  E05013651        Woodhouse
..         ...          ...        ...              ...
215  E01033921  Barnet 043A  E05013633  Colindale South
216  E01033922  Barnet 043B  E05013633  Colindale South
217  E01033923  Barnet 043C  E05013633  Colindale South
218  E01033924  Barnet 043D  E05013633  Colindale South
219  E01033925  Barnet 043E  E05013633  Colindale South

[220 rows x 4 columns]

In [49]:
# Merge DataFrames on matching 'FeatureCode' and 'LSOA21CD'
complete_imd2019 = pd.merge(imd2019_barnet, lsoa_ward, left_on='FeatureCode', right_on='LSOA21CD')

# Add new columns 'ward_code' and 'ward_name'
complete_imd2019['ward_code'] = complete_imd2019['WD22CD']
complete_imd2019['ward_name'] = complete_imd2019['WD22NM']

# Drop unnecessary columns
complete_imd2019 = complete_imd2019.drop(['LSOA21CD', 'LSOA21NM', 'WD22CD', 'WD22NM'], axis=1)

# Reorder columns
complete_imd2019 = complete_imd2019[['FeatureCode', 'Value', 'Indices of Deprivation', 'ward_code', 'ward_name']]

complete_imd2019

,FeatureCode,Value,Indices of Deprivation,ward_code,ward_name
0,E01000227,19223.0,b. Income Deprivation Domain,E05013637,Edgware
1,E01000227,24076.0,c. Employment Deprivation Domain,E05013637,Edgware
2,E01000227,23257.0,i. Income Deprivation Affecting Children Index...,E05013637,Edgware
3,E01000227,32188.0,e. Health Deprivation and Disability Domain,E05013637,Edgware
4,E01000227,27735.0,"d. Education, Skills and Training Domain",E05013637,Edgware
...,...,...,...,...,...
2045,E01000181,26821.0,a. Index of Multiple Deprivation (IMD),E05013636,East Finchley
2046,E01000181,17821.0,j. Income Deprivation Affecting Older People I...,E05013636,East Finchley
2047,E01000181,15696.0,g. Barriers to Housing and Services Domain,E05013636,East Finchley
2048,E01000181,9010.0,h. Living Environment Deprivation Domain,E05013636,East Finchley
2049,E01000181,15601.0,f. Crime Domain,E05013636,East Finchley

In [50]:
# Merge DataFrames on matching 'FeatureCode' and 'LSOA21CD'
complete_imd2015 = pd.merge(imd2015_barnet, lsoa_ward, left_on='FeatureCode', right_on='LSOA21CD')

# Add new columns 'ward_code' and 'ward_name'
complete_imd2015['ward_code'] = complete_imd2015['WD22CD']
complete_imd2015['ward_name'] = complete_imd2015['WD22NM']

# Drop unnecessary columns
complete_imd2015 = complete_imd2015.drop(['LSOA21CD', 'LSOA21NM', 'WD22CD', 'WD22NM'], axis=1)

# Reorder columns
complete_imd2015 = complete_imd2015[['FeatureCode', 'Value', 'Indices of Deprivation', 'ward_code', 'ward_name']]

complete_imd2015

,FeatureCode,Value,Indices of Deprivation,ward_code,ward_name
0,E01000307,7674.0,j. Income Deprivation Affecting Older People I...,E05013649,West Hendon
1,E01000307,25948.0,e. Health Deprivation and Disability Domain,E05013649,West Hendon
2,E01000307,14214.0,"d. Education, Skills and Training Domain",E05013649,West Hendon
3,E01000307,20505.0,c. Employment Deprivation Domain,E05013649,West Hendon
4,E01000307,2227.0,g. Barriers to Housing and Services Domain,E05013649,West Hendon
...,...,...,...,...,...
2045,E01000305,8903.0,b. Income Deprivation Domain,E05013649,West Hendon
2046,E01000305,10451.0,c. Employment Deprivation Domain,E05013649,West Hendon
2047,E01000305,9691.0,i. Income Deprivation Affecting Children Index...,E05013649,West Hendon
2048,E01000305,1089.0,g. Barriers to Housing and Services Domain,E05013649,West Hendon
2049,E01000305,4299.0,h. Living Environment Deprivation Domain,E05013649,West Hendon

In [51]:
# Merge DataFrames on matching 'FeatureCode' and 'LSOA21CD'
complete_imd2010 = pd.merge(imd2010_barnet, lsoa_ward, left_on='FeatureCode', right_on='LSOA21CD')

# Add new columns 'ward_code' and 'ward_name'
complete_imd2010['ward_code'] = complete_imd2010['WD22CD']
complete_imd2010['ward_name'] = complete_imd2010['WD22NM']

# Drop unnecessary columns
complete_imd2010 = complete_imd2010.drop(['LSOA21CD', 'LSOA21NM', 'WD22CD', 'WD22NM'], axis=1)

# Reorder columns
complete_imd2010 = complete_imd2010[['FeatureCode', 'Value', 'ward_code', 'ward_name']]

complete_imd2010

    FeatureCode  Value  ward_code      ward_name
0     E01000290  15112  E05013644    High Barnet
1     E01000165  22327  E05013640  Friern Barnet
2     E01000253  23868  E05013644    High Barnet
3     E01000128  12081  E05013630      Burnt Oak
4     E01000216  22250  E05013642  Golders Green
..          ...    ...        ...            ...
200   E01000183  21060  E05013636  East Finchley
201   E01000271  26782  E05013628    Barnet Vale
202   E01000146  18802  E05013631    Childs Hill
203   E01000234  25034  E05013637        Edgware
204   E01000322  17051  E05013651      Woodhouse

[205 rows x 4 columns]

### Note: Adding wards to total_barnet

In [52]:
# Merge DataFrames on matching 'FeatureCode' and 'LSOA21CD'
total_barnet = pd.merge(total_barnet, lsoa_ward, left_on='lsoa_code', right_on='LSOA21CD', how='left')

# Add new columns 'ward_code' and 'ward_name'
total_barnet['ward_code'] = total_barnet['WD22CD']
total_barnet['ward_name'] = total_barnet['WD22NM']

# Drop unnecessary columns
total_barnet = total_barnet.drop(['LSOA21CD', 'LSOA21NM', 'WD22CD', 'WD22NM'], axis=1)

# Reorder columns
total_barnet = total_barnet[['crime_id', 'month', 'longitude', 'latitude', 'location', 'lsoa_code', 'lsoa_name', 'last_outcome_category', 'ward_code', 'ward_name']]

total_barnet.to_csv('data/total_barnet.csv', index=False)

In [53]:
total_barnet

,crime_id,month,longitude,latitude,location,lsoa_code,lsoa_name,last_outcome_category,ward_code,ward_name
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,2010-12,-0.201877,51.655538,On or near High Street,E01000248,Barnet 001A,None,E05013644,High Barnet
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,2010-12,-0.207853,51.654317,On or near The Avenue,E01000248,Barnet 001A,None,E05013644,High Barnet
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,2010-12,-0.202510,51.656348,On or near Bruce Road,E01000248,Barnet 001A,None,E05013644,High Barnet
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,2010-12,-0.206779,51.654768,On or near The Drive,E01000248,Barnet 001A,None,E05013644,High Barnet
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,2010-12,-0.209537,51.655223,On or near Marriott Road,E01000249,Barnet 001B,None,E05013644,High Barnet
...,...,...,...,...,...,...,...,...,...,...
44133,fda0870be993d2c9352ae14a540bf529c15a7aa9d92a4e...,2023-03,-0.202163,51.559100,On or near Hocroft Road,E01000139,Barnet 041B,Under investigation,E05013631,Childs Hill
44134,c6c2d9a772695865f4ca33fce59c26c48fe3a1cdac8c22...,2023-03,-0.202163,51.559100,On or near Hocroft Road,E01000139,Barnet 041B,Under investigation,E05013631,Childs Hill
44135,e5bab2bd4f31de44515dbf125b85284392d0349139a1d3...,2023-03,-0.197843,51.561093,On or near Church Walk,E01000140,Barnet 041C,Under investigation,E05013631,Childs Hill
44136,823465427f8764e250a48312715a4bd87e8012412046c6...,2023-03,-0.199449,51.563896,On or near Llanelly Road,E01000140,Barnet 041C,Under investigation,E05013631,Childs Hill
44137,50b5bbf4987109ee189f8a736ec7e92365b25169b7f783...,2023-03,-0.197843,51.561093,On or near Church Walk,E01000140,Barnet 041C,Under investigation,E05013631,Childs Hill

In [54]:
total_barnet['ward_name'].unique()

array(['High Barnet', 'Underhill', 'East Barnet', 'Barnet Vale',
       'Edgwarebury', 'Totteridge & Woodside', 'Whetstone',
       'Brunswick Park', 'Woodhouse', 'Edgware', 'Friern Barnet',
       'Mill Hill', nan, 'Burnt Oak', 'West Finchley',
       'Finchley Church End', 'Colindale North', 'East Finchley',
       'Hendon', 'Garden Suburb', 'West Hendon', 'Golders Green',
       'Childs Hill', 'Cricklewood', 'Colindale South'], dtype=object)

## Tables

## 2010 IMD Rank

In [55]:
average_imd2010 = complete_imd2010.drop(['FeatureCode', 'ward_code'], axis=1).groupby('ward_name').mean().reset_index()
average_imd2010

                ward_name         Value
0             Barnet Vale  20871.000000
1          Brunswick Park  21459.600000
2               Burnt Oak  10943.363636
3             Childs Hill  18637.090909
4         Colindale North   5475.800000
5         Colindale South  18447.000000
6             Cricklewood   9542.666667
7             East Barnet  21230.800000
8           East Finchley  16102.800000
9                 Edgware  19743.111111
10            Edgwarebury  19952.375000
11    Finchley Church End  21706.600000
12          Friern Barnet  16108.909091
13          Garden Suburb  26333.428571
14          Golders Green  21240.000000
15                 Hendon  16892.363636
16            High Barnet  21896.571429
17              Mill Hill  21180.000000
18  Totteridge & Woodside  24112.750000
19              Underhill  16973.857143
20          West Finchley  19711.500000
21            West Hendon  13565.100000
22              Whetstone  21079.285714
23              Woodhouse  16891.714286

## 2015 IMD Rank

In [56]:
# Group the data by the Indices of Deprivation column
grouped_2015 = complete_imd2015.groupby('Indices of Deprivation')

# Loop over the groups and create a table for each one
for name, group in grouped_2015:
    # Compute the mean value for each ward_name group
    ward_means = group.groupby('ward_name')['Value'].mean()

    # Create a new dataframe with the ward_name and the average Value
    table = pd.DataFrame({'ward_name': ward_means.index, f'Average Value for {name}': ward_means.values})

    # Display the table
    print(f'Table for {name}:')
    display(table)

# Note: the smaller the value, the more deprived

Table for a. Index of Multiple Deprivation (IMD):

,ward_name,Average Value for a. Index of Multiple Deprivation (IMD)
0,Barnet Vale,20506.800000
1,Brunswick Park,20771.100000
2,Burnt Oak,9321.272727
3,Childs Hill,16539.090909
4,Colindale North,4678.000000
5,Colindale South,21580.000000
6,Cricklewood,7502.500000
7,East Barnet,18786.300000
8,East Finchley,18696.200000
9,Edgware,19445.444444
10,Edgwarebury,19423.750000
11,Finchley Church End,22545.800000
12,Friern Barnet,15027.181818
13,Garden Suburb,27089.571429
14,Golders Green,20577.111111
15,Hendon,17302.272727
16,High Barnet,20278.000000
17,Mill Hill,19258.250000
18,Totteridge & Woodside,24306.125000
19,Underhill,14382.857143
20,West Finchley,21035.166667
21,West Hendon,13108.200000
22,Whetstone,20915.000000
23,Woodhouse,16077.285714

Table for b. Income Deprivation Domain:

                ward_name  Average Value for b. Income Deprivation Domain
0             Barnet Vale                                    18396.200000
1          Brunswick Park                                    17951.400000
2               Burnt Oak                                     8061.272727
3             Childs Hill                                    17150.545455
4         Colindale North                                     3138.800000
5         Colindale South                                    21599.000000
6             Cricklewood                                     6716.166667
7             East Barnet                                    14842.100000
8           East Finchley                                    16312.400000
9                 Edgware                                    16448.000000
10            Edgwarebury                                    16860.250000
11    Finchley Church End                                    21266.000000
12          Friern Barnet                                    12915.181818
13          Garden Suburb                                    28233.571429
14          Golders Green                                    20577.222222
15                 Hendon                                    18073.454545
16            High Barnet                                    21572.142857
17              Mill Hill                                    19161.625000
18  Totteridge & Woodside                                    23982.000000
19              Underhill                                    12381.714286
20          West Finchley                                    18896.166667
21            West Hendon                                    14268.700000
22              Whetstone                                    18198.857143
23              Woodhouse                                    14532.000000

Table for c. Employment Deprivation Domain:

                ward_name  Average Value for c. Employment Deprivation Domain
0             Barnet Vale                                       20516.800000
1          Brunswick Park                                       20620.300000
2               Burnt Oak                                       11384.454545
3             Childs Hill                                       20786.636364
4         Colindale North                                        6542.200000
5         Colindale South                                       28903.000000
6             Cricklewood                                        9360.500000
7             East Barnet                                       17252.800000
8           East Finchley                                       20300.500000
9                 Edgware                                       19908.333333
10            Edgwarebury                                       21296.750000
11    Finchley Church End                                       24651.800000
12          Friern Barnet                                       17616.090909
13          Garden Suburb                                       31538.000000
14          Golders Green                                       22136.555556
15                 Hendon                                       22793.909091
16            High Barnet                                       22456.571429
17              Mill Hill                                       22947.500000
18  Totteridge & Woodside                                       25939.875000
19              Underhill                                       12834.857143
20          West Finchley                                       22892.250000
21            West Hendon                                       17755.300000
22              Whetstone                                       21785.285714
23              Woodhouse                                       16663.714286

Table for d. Education, Skills and Training Domain:

,ward_name,"Average Value for d. Education, Skills and Training Domain"
0,Barnet Vale,27745.100000
1,Brunswick Park,24899.300000
2,Burnt Oak,13345.272727
3,Childs Hill,27137.272727
4,Colindale North,12301.800000
5,Colindale South,22518.000000
6,Cricklewood,15700.666667
7,East Barnet,24365.800000
8,East Finchley,24956.000000
9,Edgware,25608.555556
10,Edgwarebury,23562.875000
11,Finchley Church End,28444.600000
12,Friern Barnet,23957.272727
13,Garden Suburb,31284.857143
14,Golders Green,26544.555556
15,Hendon,27053.363636
16,High Barnet,27035.285714
17,Mill Hill,27816.875000
18,Totteridge & Woodside,28699.000000
19,Underhill,20267.285714
20,West Finchley,29132.000000
21,West Hendon,20287.300000
22,Whetstone,27357.285714
23,Woodhouse,25860.571429

Table for e. Health Deprivation and Disability Domain:

,ward_name,Average Value for e. Health Deprivation and Disability Domain
0,Barnet Vale,26584.300000
1,Brunswick Park,25805.300000
2,Burnt Oak,17103.727273
3,Childs Hill,24158.363636
4,Colindale North,14386.400000
5,Colindale South,28421.000000
6,Cricklewood,18650.833333
7,East Barnet,24601.500000
8,East Finchley,23540.500000
9,Edgware,26139.222222
10,Edgwarebury,24641.625000
11,Finchley Church End,29932.200000
12,Friern Barnet,23680.272727
13,Garden Suburb,32160.000000
14,Golders Green,26838.111111
15,Hendon,26042.818182
16,High Barnet,24492.571429
17,Mill Hill,27280.125000
18,Totteridge & Woodside,27601.250000
19,Underhill,18271.000000
20,West Finchley,26595.000000
21,West Hendon,23838.600000
22,Whetstone,24302.428571
23,Woodhouse,21280.714286

Table for f. Crime Domain:

                ward_name  Average Value for f. Crime Domain
0             Barnet Vale                       12446.600000
1          Brunswick Park                       12091.700000
2               Burnt Oak                        6462.000000
3             Childs Hill                        8050.000000
4         Colindale North                        7641.200000
5         Colindale South                        9695.000000
6             Cricklewood                        4877.166667
7             East Barnet                       12852.000000
8           East Finchley                       14334.800000
9                 Edgware                       13883.444444
10            Edgwarebury                       13001.000000
11    Finchley Church End                       15535.900000
12          Friern Barnet                        6657.272727
13          Garden Suburb                       14434.428571
14          Golders Green                       14737.222222
15                 Hendon                        7390.272727
16            High Barnet                        9177.285714
17              Mill Hill                        9491.250000
18  Totteridge & Woodside                       19447.125000
19              Underhill                        9783.571429
20          West Finchley                       13071.000000
21            West Hendon                        7243.100000
22              Whetstone                       11116.285714
23              Woodhouse                       11026.714286

Table for g. Barriers to Housing and Services Domain:

,ward_name,Average Value for g. Barriers to Housing and Services Domain
0,Barnet Vale,8742.800000
1,Brunswick Park,12866.800000
2,Burnt Oak,4516.272727
3,Childs Hill,6061.545455
4,Colindale North,186.200000
5,Colindale South,7556.000000
6,Cricklewood,2582.833333
7,East Barnet,12550.100000
8,East Finchley,8998.100000
9,Edgware,8704.222222
10,Edgwarebury,8392.750000
11,Finchley Church End,8204.800000
12,Friern Barnet,8413.181818
13,Garden Suburb,9572.428571
14,Golders Green,7282.777778
15,Hendon,5130.727273
16,High Barnet,8051.714286
17,Mill Hill,6678.125000
18,Totteridge & Woodside,7032.625000
19,Underhill,9748.857143
20,West Finchley,10197.916667
21,West Hendon,2747.000000
22,Whetstone,11869.000000
23,Woodhouse,8919.142857

Table for h. Living Environment Deprivation Domain:

,ward_name,Average Value for h. Living Environment Deprivation Domain
0,Barnet Vale,15720.700000
1,Brunswick Park,17373.500000
2,Burnt Oak,11511.727273
3,Childs Hill,8123.000000
4,Colindale North,12590.000000
5,Colindale South,11410.000000
6,Cricklewood,10160.000000
7,East Barnet,16289.900000
8,East Finchley,12344.500000
9,Edgware,14800.111111
10,Edgwarebury,18084.125000
11,Finchley Church End,12676.200000
12,Friern Barnet,12451.000000
13,Garden Suburb,14538.428571
14,Golders Green,10525.111111
15,Hendon,9075.000000
16,High Barnet,15847.285714
17,Mill Hill,13081.625000
18,Totteridge & Woodside,20822.000000
19,Underhill,18161.285714
20,West Finchley,11151.333333
21,West Hendon,7885.900000
22,Whetstone,17140.285714
23,Woodhouse,10250.714286

Table for i. Income Deprivation Affecting Children Index (IDACI):

,ward_name,Average Value for i. Income Deprivation Affecting Children Index (IDACI)
0,Barnet Vale,17666.600000
1,Brunswick Park,18251.300000
2,Burnt Oak,8503.363636
3,Childs Hill,16797.818182
4,Colindale North,2982.800000
5,Colindale South,23393.000000
6,Cricklewood,5321.500000
7,East Barnet,15020.200000
8,East Finchley,16836.300000
9,Edgware,17612.888889
10,Edgwarebury,18003.000000
11,Finchley Church End,21725.800000
12,Friern Barnet,12191.818182
13,Garden Suburb,27276.857143
14,Golders Green,24497.111111
15,Hendon,19772.727273
16,High Barnet,21794.142857
17,Mill Hill,19455.750000
18,Totteridge & Woodside,24086.500000
19,Underhill,12311.428571
20,West Finchley,20948.750000
21,West Hendon,15188.300000
22,Whetstone,18705.857143
23,Woodhouse,15563.428571

Table for j. Income Deprivation Affecting Older People Index (IDAOPI):

,ward_name,Average Value for j. Income Deprivation Affecting Older People Index (IDAOPI)
0,Barnet Vale,20573.400000
1,Brunswick Park,16916.400000
2,Burnt Oak,6055.272727
3,Childs Hill,16448.636364
4,Colindale North,3330.600000
5,Colindale South,14882.000000
6,Cricklewood,7886.666667
7,East Barnet,15049.100000
8,East Finchley,11938.200000
9,Edgware,16174.888889
10,Edgwarebury,15851.500000
11,Finchley Church End,18855.800000
12,Friern Barnet,10738.000000
13,Garden Suburb,27836.000000
14,Golders Green,16729.111111
15,Hendon,13329.727273
16,High Barnet,21214.714286
17,Mill Hill,18357.000000
18,Totteridge & Woodside,22514.250000
19,Underhill,14635.285714
20,West Finchley,13086.750000
21,West Hendon,8770.900000
22,Whetstone,16912.571429
23,Woodhouse,11957.714286

## 2019 IMD Rank

In [57]:
# Group the data by the Indices of Deprivation column
grouped_2019 = complete_imd2019.groupby('Indices of Deprivation')

# Loop over the groups and create a table for each one
for name, group in grouped_2019:
    # Compute the mean value for each ward_name group
    ward_means = group.groupby('ward_name')['Value'].mean()

    # Create a new dataframe with the ward_name and the average Value
    table = pd.DataFrame({'ward_name': ward_means.index, f'Average Value for {name}': ward_means.values})

    # Display the table
    print(f'Table for {name}:')
    display(table)

Table for a. Index of Multiple Deprivation (IMD):

,ward_name,Average Value for a. Index of Multiple Deprivation (IMD)
0,Barnet Vale,21999.100000
1,Brunswick Park,22310.500000
2,Burnt Oak,10060.818182
3,Childs Hill,17819.727273
4,Colindale North,5710.400000
5,Colindale South,21282.000000
6,Cricklewood,8107.000000
7,East Barnet,19894.500000
8,East Finchley,20241.800000
9,Edgware,21822.111111
10,Edgwarebury,20793.500000
11,Finchley Church End,23890.200000
12,Friern Barnet,17859.545455
13,Garden Suburb,27609.142857
14,Golders Green,20587.777778
15,Hendon,18878.636364
16,High Barnet,22422.571429
17,Mill Hill,21819.375000
18,Totteridge & Woodside,24610.125000
19,Underhill,16417.857143
20,West Finchley,22294.250000
21,West Hendon,15038.500000
22,Whetstone,23438.571429
23,Woodhouse,18046.714286

Table for b. Income Deprivation Domain:

                ward_name  Average Value for b. Income Deprivation Domain
0             Barnet Vale                                    19024.000000
1          Brunswick Park                                    18470.100000
2               Burnt Oak                                     8672.636364
3             Childs Hill                                    16923.363636
4         Colindale North                                     3749.800000
5         Colindale South                                    19924.000000
6             Cricklewood                                     7151.500000
7             East Barnet                                    16296.900000
8           East Finchley                                    17147.600000
9                 Edgware                                    18285.333333
10            Edgwarebury                                    18620.500000
11    Finchley Church End                                    20701.300000
12          Friern Barnet                                    14642.181818
13          Garden Suburb                                    28500.285714
14          Golders Green                                    18479.666667
15                 Hendon                                    17971.818182
16            High Barnet                                    21828.142857
17              Mill Hill                                    19955.625000
18  Totteridge & Woodside                                    23820.500000
19              Underhill                                    13583.000000
20          West Finchley                                    18729.500000
21            West Hendon                                    14498.800000
22              Whetstone                                    20063.000000
23              Woodhouse                                    14066.142857

Table for c. Employment Deprivation Domain:

                ward_name  Average Value for c. Employment Deprivation Domain
0             Barnet Vale                                       21189.900000
1          Brunswick Park                                       20644.600000
2               Burnt Oak                                       11885.909091
3             Childs Hill                                       19225.818182
4         Colindale North                                        5852.600000
5         Colindale South                                       27874.000000
6             Cricklewood                                        9101.000000
7             East Barnet                                       19460.200000
8           East Finchley                                       21306.700000
9                 Edgware                                       21286.777778
10            Edgwarebury                                       21488.750000
11    Finchley Church End                                       24550.500000
12          Friern Barnet                                       18595.909091
13          Garden Suburb                                       30762.571429
14          Golders Green                                       19089.000000
15                 Hendon                                       20834.090909
16            High Barnet                                       22579.285714
17              Mill Hill                                       23162.125000
18  Totteridge & Woodside                                       25234.375000
19              Underhill                                       13842.285714
20          West Finchley                                       23257.666667
21            West Hendon                                       18899.400000
22              Whetstone                                       22516.000000
23              Woodhouse                                       17742.857143

Table for d. Education, Skills and Training Domain:

,ward_name,"Average Value for d. Education, Skills and Training Domain"
0,Barnet Vale,28140.500000
1,Brunswick Park,24805.600000
2,Burnt Oak,14682.000000
3,Childs Hill,26567.545455
4,Colindale North,12589.800000
5,Colindale South,21938.000000
6,Cricklewood,16552.666667
7,East Barnet,24600.200000
8,East Finchley,26319.900000
9,Edgware,25566.777778
10,Edgwarebury,24299.500000
11,Finchley Church End,30007.400000
12,Friern Barnet,24375.909091
13,Garden Suburb,31623.571429
14,Golders Green,25632.000000
15,Hendon,27721.181818
16,High Barnet,27710.000000
17,Mill Hill,27965.750000
18,Totteridge & Woodside,29237.375000
19,Underhill,21031.571429
20,West Finchley,29573.333333
21,West Hendon,20344.100000
22,Whetstone,28510.428571
23,Woodhouse,26633.571429

Table for e. Health Deprivation and Disability Domain:

,ward_name,Average Value for e. Health Deprivation and Disability Domain
0,Barnet Vale,30060.600000
1,Brunswick Park,28631.300000
2,Burnt Oak,21829.818182
3,Childs Hill,28168.363636
4,Colindale North,18619.600000
5,Colindale South,32596.000000
6,Cricklewood,19900.500000
7,East Barnet,26628.800000
8,East Finchley,26960.600000
9,Edgware,30360.111111
10,Edgwarebury,29228.125000
11,Finchley Church End,31239.400000
12,Friern Barnet,26194.272727
13,Garden Suburb,32563.857143
14,Golders Green,27848.111111
15,Hendon,29427.545455
16,High Barnet,28981.857143
17,Mill Hill,30921.000000
18,Totteridge & Woodside,30085.125000
19,Underhill,24523.857143
20,West Finchley,29548.583333
21,West Hendon,27208.500000
22,Whetstone,29639.714286
23,Woodhouse,27274.142857

Table for f. Crime Domain:

                ward_name  Average Value for f. Crime Domain
0             Barnet Vale                       17449.800000
1          Brunswick Park                       19013.600000
2               Burnt Oak                        9565.000000
3             Childs Hill                       11332.181818
4         Colindale North                       12031.400000
5         Colindale South                       11383.000000
6             Cricklewood                        6268.500000
7             East Barnet                       14817.400000
8           East Finchley                       17787.800000
9                 Edgware                       18719.000000
10            Edgwarebury                       16626.125000
11    Finchley Church End                       20595.900000
12          Friern Barnet                       12336.272727
13          Garden Suburb                       16606.285714
14          Golders Green                       19070.111111
15                 Hendon                       15055.000000
16            High Barnet                       12630.714286
17              Mill Hill                       16199.250000
18  Totteridge & Woodside                       24127.750000
19              Underhill                       13695.857143
20          West Finchley                       15934.666667
21            West Hendon                       12022.900000
22              Whetstone                       15994.857143
23              Woodhouse                       13391.285714

Table for g. Barriers to Housing and Services Domain:

,ward_name,Average Value for g. Barriers to Housing and Services Domain
0,Barnet Vale,8014.300000
1,Brunswick Park,11772.700000
2,Burnt Oak,3066.727273
3,Childs Hill,6658.272727
4,Colindale North,1019.800000
5,Colindale South,8877.000000
6,Cricklewood,3244.333333
7,East Barnet,11023.500000
8,East Finchley,8871.300000
9,Edgware,9331.888889
10,Edgwarebury,8514.375000
11,Finchley Church End,9005.900000
12,Friern Barnet,7904.727273
13,Garden Suburb,10730.000000
14,Golders Green,8230.333333
15,Hendon,5726.090909
16,High Barnet,9479.571429
17,Mill Hill,6613.375000
18,Totteridge & Woodside,6643.250000
19,Underhill,9110.714286
20,West Finchley,9526.750000
21,West Hendon,3121.300000
22,Whetstone,11389.857143
23,Woodhouse,8942.428571

Table for h. Living Environment Deprivation Domain:

,ward_name,Average Value for h. Living Environment Deprivation Domain
0,Barnet Vale,15011.600000
1,Brunswick Park,16937.100000
2,Burnt Oak,10480.363636
3,Childs Hill,9015.090909
4,Colindale North,15218.200000
5,Colindale South,6999.000000
6,Cricklewood,9226.500000
7,East Barnet,13252.900000
8,East Finchley,12031.500000
9,Edgware,13113.555556
10,Edgwarebury,16157.500000
11,Finchley Church End,12046.400000
12,Friern Barnet,12861.636364
13,Garden Suburb,11518.142857
14,Golders Green,11211.888889
15,Hendon,9156.454545
16,High Barnet,16268.142857
17,Mill Hill,13596.875000
18,Totteridge & Woodside,18103.625000
19,Underhill,17328.142857
20,West Finchley,12325.250000
21,West Hendon,9193.200000
22,Whetstone,16055.571429
23,Woodhouse,11451.000000

Table for i. Income Deprivation Affecting Children Index (IDACI):

,ward_name,Average Value for i. Income Deprivation Affecting Children Index (IDACI)
0,Barnet Vale,19389.400000
1,Brunswick Park,20832.700000
2,Burnt Oak,10988.727273
3,Childs Hill,18549.545455
4,Colindale North,5640.400000
5,Colindale South,26237.000000
6,Cricklewood,7823.500000
7,East Barnet,17715.800000
8,East Finchley,18543.100000
9,Edgware,20952.555556
10,Edgwarebury,20526.875000
11,Finchley Church End,23390.500000
12,Friern Barnet,15570.000000
13,Garden Suburb,29155.000000
14,Golders Green,24435.666667
15,Hendon,20200.363636
16,High Barnet,21995.571429
17,Mill Hill,20103.250000
18,Totteridge & Woodside,25097.750000
19,Underhill,14771.285714
20,West Finchley,21748.666667
21,West Hendon,16802.800000
22,Whetstone,22102.285714
23,Woodhouse,15676.000000

Table for j. Income Deprivation Affecting Older People Index (IDAOPI):

,ward_name,Average Value for j. Income Deprivation Affecting Older People Index (IDAOPI)
0,Barnet Vale,19611.100000
1,Brunswick Park,16387.900000
2,Burnt Oak,5766.363636
3,Childs Hill,15116.636364
4,Colindale North,2126.200000
5,Colindale South,12225.000000
6,Cricklewood,6780.666667
7,East Barnet,14443.200000
8,East Finchley,12201.100000
9,Edgware,16315.777778
10,Edgwarebury,16286.375000
11,Finchley Church End,17697.900000
12,Friern Barnet,10371.090909
13,Garden Suburb,27273.285714
14,Golders Green,14684.777778
15,Hendon,12608.363636
16,High Barnet,21249.714286
17,Mill Hill,18077.500000
18,Totteridge & Woodside,21023.875000
19,Underhill,14530.142857
20,West Finchley,12728.416667
21,West Hendon,8048.900000
22,Whetstone,16197.142857
23,Woodhouse,10848.000000